@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family:Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {  margin: 0;  }

.headers,
.first-container,
.second-container,
.third-container,
.fourth-container,
.footer {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 64px 400px;
}

.headers {
    padding-top: 16px;
    padding-bottom: 0;
}

.links {
    display: flex;
    gap: 16px;
    margin-top:16px;
}

.first-container {
    align-items: center;
    gap: 64px;
    padding: 100px auto;
    padding-bottom: 50px;
}

.second-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    gap: 30px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.box img {
    border-radius: 8px;
    border: 3px solid #3882F6;
}

.third-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;
    gap: 16px;

}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    font-weight: bold;
    align-self: flex-end;
    margin-right: 32px;
    font-size: 20px;
}


.fourth-container {
    background-color: white;
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
    max-width: 800px;
    margin: auto;
}

.color-container {
    display: flex;
    padding: 32px 64px;
    justify-content: space-between;
    background-color: #3882F6;
    flex: auto;
    align-items: center;
    gap: 64px;
}

.smaller-text {
    font-size: 24px;
}

.border-white {
    border: 2px solid white;
    margin-right: 0;
    width: 84px;
    text-align: center;
}

.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
}

.text-together {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

a,
.secondary-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 16px;
    margin-right: auto;
}